<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="websiteschema.persistence.rdbms.BrandMapper">

<!--    <cache />-->
    
    <select id="getTotalResults" resultType="long" parameterType="java.util.Map">
        select count(*) from Brand
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="match != null">
                name like CONCAT('%','${match}','%' )
            </if>
        </trim>
    </select>

    <select id="getBrands" parameterType="java.util.Map" resultType="websiteschema.model.domain.Brand">
        select * from Brand
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="c_id !=null">
                c_id = ${c_id}
            </if>
            <if test="match != null">
                and name like CONCAT('%','${match}','%' )
            </if>            
        </trim>
        <if test="sort != null">
            order by ${sort}
        </if>
        limit #{start}, #{limit}
    </select>

    <select id="getBrandById" parameterType="String" resultType="websiteschema.model.domain.Brand">
        select * from Brand
        where id = #{id}
    </select>

    <select id="getAllBrands" resultType="websiteschema.model.domain.Brand">
        select * from Brand
    </select>

    <!-- 查询记录，根据id -->
    <select id="getById" parameterType="long" resultType="websiteschema.model.domain.Brand">
        select * from Brand
        where id = #{id}
    </select>
    
    <select id="getByCid" parameterType="long" resultType="websiteschema.model.domain.Brand">
        select * from Brand
        where c_id = #{cid}
    </select>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="websiteschema.model.domain.Brand"
        useGeneratedKeys="true" keyProperty="id">
        insert into Brand (name, c_id, keywords,model, createTime, createUser)
        values (#{name},#{c_id},#{keywords},#{model},now(),#{createUser})
    </insert>

    <!-- 更新任务状态记录 -->
    <update id="update" parameterType="websiteschema.model.domain.Brand">
        update Brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name=#{name},</if>
            <if test="c_id != null">c_id=#{c_id},</if>
            <if test="keywords != null">keywords=#{keywords},</if>
            <if test="model != null">model=#{model},</if>
            <if test="updateTime != null">updateTime=#{updateTime},</if>
            <if test="lastUpdateUser != null">lastUpdateUser=#{lastUpdateUser},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="websiteschema.model.domain.Brand" >
        delete from Brand
        where id = #{id}
    </delete>

    <delete id="deleteById" parameterType="long" >
        delete from Brand
        where id = #{id}
    </delete>
    
</mapper>  