<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="websiteschema.persistence.rdbms.JobMapper">

    <cache />
    
    <select id="getTotalResults" resultType="long">
        select count(*) from Job
    </select>

    <select id="getJobs" parameterType="websiteschema.model.domain.PageInfo" resultType="websiteschema.model.domain.Job">
        select * from Job limit #{pageNum}, #{pageSize}
    </select>

    <!-- 查询记录，根据Id -->
    <select id="getJobById" parameterType="long" resultType="websiteschema.model.domain.Job">
        select * from Job
        where id = #{id}
    </select>

    <!-- 插入记录 -->
    <insert id="insert" parameterType="websiteschema.model.domain.Job"
        useGeneratedKeys="true" keyProperty="id">
        insert into Job (jobType, configure, wrapperId, createTime, createUser, updateTime, lastUpdateUser)
        values (#{jobType},#{configure},#{wrapperId},#{createTime},#{createUser},#{updateTime},#{lastUpdateUser})
    </insert>

    <!-- 更新任务状态记录 -->
    <update id="update" parameterType="websiteschema.model.domain.Job">
        update Job set
        jobType = #{jobType},
        configure = #{configure},
        wrapperId = #{wrapperId},
        createTime = #{createTime},
        createUser = #{createUser},
        updateTime = #{updateTime},
        lastUpdateUser = #{lastUpdateUser}
        where id = #{id}
    </update>

    <delete id="delete" parameterType="websiteschema.model.domain.Job" >
        delete from Job
        where id = #{id}
    </delete>

    <delete id="deleteByJobId" parameterType="long" >
        delete from Job
        where id = #{id}
    </delete>
    
</mapper>  