<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>nyapc</id>
        </server>
        <server>
            <id>thirdparty</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
        <server>
            <id>releases</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>deployment</username>
            <password>deployment</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>nyapc</id>
            <mirrorOf>*</mirrorOf>
            <name>Beijing Office</name>
            <url>http://repo.qa/content/groups/public/</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>basic</id>
            <repositories>
                <repository>
                    <id>nyapc-central</id>
                    <name>nyapc central</name>
                    <releases>
                        <enabled>true</enabled>
                        <updatePolicy>interval:120</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>interval:120</updatePolicy>
                        <checksumPolicy>warn</checksumPolicy>
                    </snapshots>
                    <url>http://repo.qa/content/groups/public/</url>
                    <layout>default</layout>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>dev</id>
            <properties>
                <jdbc.driver>oracle.jdbc.driver.OracleDriver</jdbc.driver>
                <jdbc.ora_url>jdbc:oracle:thin:@192.168.4.179:1521:mms</jdbc.ora_url>
                <jdbc.username>mms</jdbc.username>
                <jdbc.password>mms</jdbc.password>
                <jdbc.ora_url_cninfo>jdbc:oracle:thin:@10.8.0.40:1521:mms2009</jdbc.ora_url_cninfo>
                <jdbc.username_cninfo>mms2009</jdbc.username_cninfo>
                <jdbc.password_cninfo>mms2009</jdbc.password_cninfo>
                <jdbc.ora_url.olap>jdbc:oracle:thin:@192.168.4.49:1521:fcm</jdbc.ora_url.olap>
                <jdbc.username.olap>olap</jdbc.username.olap>
                <jdbc.password.olap>olap</jdbc.password.olap>
                <jdbc.fcm.ora_url>jdbc:oracle:thin:@192.168.4.179:1521:mms</jdbc.fcm.ora_url>
                <jdbc.fcm.username>fcm</jdbc.fcm.username>
                <jdbc.fcm.password>fcm</jdbc.fcm.password>
                <indextask.content-samenews>127.0.0.1</indextask.content-samenews>
                <indextask.saveFileBase>/home/ray/idx</indextask.saveFileBase>
                <indextask.dih-news>127.0.0.1:3300</indextask.dih-news>
                <indextask.dih-fail>127.0.0.1:9800</indextask.dih-fail>
                <indextask.dih-filing>127.0.0.1:3400</indextask.dih-filing>
                <indextask.dih-report>127.0.0.1:3500</indextask.dih-report>
                <indextask.deploy-dir>/app/cfg/indextask-taging-8081/</indextask.deploy-dir>
                <searchapi.ws.dah-host>192.168.4.136</searchapi.ws.dah-host>
                <searchapi.ws.dah-port>10000</searchapi.ws.dah-port>
                <searchapi.dah0-host>192.168.4.42</searchapi.dah0-host>
                <searchapi.dah0-port>15000</searchapi.dah0-port>
                <searchapi.dah1-host>192.168.4.136</searchapi.dah1-host>
                <searchapi.dah1-port>15000</searchapi.dah1-port>
                <infinispan.server_list>192.168.4.41:11411;192.168.4.49:11411</infinispan.server_list>
                <search.host>search.nyapc.com</search.host>
                <search.port>80</search.port>
                <search.temp.dir>/var/tmp</search.temp.dir>
                <search.logs.dir>.</search.logs.dir>
                <search.spellcheck.pinyin>false</search.spellcheck.pinyin>
                <cpp.jdbc.url>jdbc:oracle:thin:@192.168.80.134:1521:ray</cpp.jdbc.url>
                <cpp.jdbc.username>ray</cpp.jdbc.username>
                <cpp.jdbc.password>ray</cpp.jdbc.password>
                <cpp.idol.dih.host>192.168.80.134</cpp.idol.dih.host>
                <cpp.idol.dih.port>9501</cpp.idol.dih.port>
                <cpp.searchapi.host>192.168.4.42</cpp.searchapi.host>
                <cpp.searchapi.port>15000</cpp.searchapi.port>
                <evt.jdbc.url>jdbc:oracle:thin:@192.168.80.134:1521:evt</evt.jdbc.url>
                <evt.jdbc.username>evt</evt.jdbc.username>
                <evt.jdbc.password>evt</evt.jdbc.password>
                <evt.idol.dih.host>192.168.80.134</evt.idol.dih.host>
                <evt.idol.dih.port>9601</evt.idol.dih.port>
                <kb.jdbc.driver>oracle.jdbc.driver.OracleDriver</kb.jdbc.driver>
                <kb.jdbc.url>jdbc:oracle:thin:@192.168.4.179:1521:kb</kb.jdbc.url>
                <kb.jdbc.username>kb</kb.jdbc.username>
                <kb.jdbc.password>kb</kb.jdbc.password>
                <mar.jdbc.url>jdbc:oracle:thin:@10.8.0.149:1521:dbpub</mar.jdbc.url>
                <mar.jdbc.username>fatslim2</mar.jdbc.username>
                <mar.jdbc.password>fatslim2</mar.jdbc.password>
		<datahandler.jdbc.utl>jdbc:mysql://192.168.4.59:3306/DataHandleDB</datahandler.jdbc.utl>
                <datahandler.jdbc.username>dd</datahandler.jdbc.username>
                <datahandler.jdbc.password>dd</datahandler.jdbc.password>
                <cms.jdbc.url>jdbc:oracle:thin:@192.168.4.240:1521:ray</cms.jdbc.url>
                <cms.jdbc.username>im</cms.jdbc.username>
                <cms.jdbc.password>im</cms.jdbc.password>
                <cms.idol.dih.host>test.database</cms.idol.dih.host>
                <cms.idol.dih.port>3101</cms.idol.dih.port>
            </properties>
        </profile>

        <profile>
            <id>test</id>
            <properties>
                <jdbc.driver>oracle.jdbc.driver.OracleDriver</jdbc.driver>
                <jdbc.ora_url>jdbc:oracle:thin:@192.168.4.175:1521:mms</jdbc.ora_url>
                <jdbc.username>mms</jdbc.username>
                <jdbc.password>mms</jdbc.password>
                <jdbc.ora_url_cninfo>jdbc:oracle:thin:@10.8.0.40:1521:mms2009</jdbc.ora_url_cninfo>
                <jdbc.username_cninfo>mms2009</jdbc.username_cninfo>
                <jdbc.password_cninfo>mms2009</jdbc.password_cninfo>
                <jdbc.ora_url.olap>jdbc:oracle:thin:@192.168.4.49:1521:fcm</jdbc.ora_url.olap>
                <jdbc.username.olap>olap</jdbc.username.olap>
                <jdbc.password.olap>olap</jdbc.password.olap>
                <indextask.content-samenews>127.0.0.1</indextask.content-samenews>
                <indextask.dih-news>127.0.0.1:3300</indextask.dih-news>
                <indextask.dih-fail>127.0.0.1:9800</indextask.dih-fail>
                <indextask.dih-filing>127.0.0.1:3400</indextask.dih-filing>
                <indextask.dih-report>127.0.0.1:3500</indextask.dih-report>
                <indextask.deploy-dir>/app/cfg/indextask-taging-8081/</indextask.deploy-dir>
                <searchapi.ws.dah-host>192.168.4.136</searchapi.ws.dah-host>
                <searchapi.ws.dah-port>10000</searchapi.ws.dah-port>
                <searchapi.dah0-host>192.168.4.42</searchapi.dah0-host>
                <searchapi.dah0-port>15000</searchapi.dah0-port>
                <searchapi.dah1-host>192.168.4.136</searchapi.dah1-host>
                <searchapi.dah1-port>15000</searchapi.dah1-port>
                <search.spellcheck.pinyin>true</search.spellcheck.pinyin>
                <cpp.jdbc.url>jdbc:oracle:thin:@cpp.database:1521:cpp</cpp.jdbc.url>
                <cpp.jdbc.username>cpp</cpp.jdbc.username>
                <cpp.jdbc.password>cpp</cpp.jdbc.password>
                <cpp.idol.dih.host>cpp.dih</cpp.idol.dih.host>
                <cpp.idol.dih.port>3001</cpp.idol.dih.port>
                <cpp.searchapi.host>cpp.dah</cpp.searchapi.host>
                <cpp.searchapi.port>15000</cpp.searchapi.port>
                <kb.jdbc.driver>oracle.jdbc.driver.OracleDriver</kb.jdbc.driver>
                <kb.jdbc.url>jdbc:oracle:thin:@10.8.0.159:1521:kb</kb.jdbc.url>
                <kb.jdbc.username>kb</kb.jdbc.username>
                <kb.jdbc.password>kb</kb.jdbc.password>
                <mar.jdbc.url>jdbc:oracle:thin:@10.8.0.149:1521:dbpub</mar.jdbc.url>
                <mar.jdbc.username>fatslim2</mar.jdbc.username>
                <mar.jdbc.password>fatslim2</mar.jdbc.password>
                <cms.jdbc.url>jdbc:oracle:thin:@192.168.4.240:1521:ray</cms.jdbc.url>
                <cms.jdbc.username>im</cms.jdbc.username>
                <cms.jdbc.password>im</cms.jdbc.password>
                <cms.idol.dih.host>evt.dih</cms.idol.dih.host>
                <cms.idol.dih.port>9201</cms.idol.dih.port>
            </properties>
        </profile>
        <profile>
            <id>idc</id>
            <properties>
                <jdbc.driver>oracle.jdbc.driver.OracleDriver</jdbc.driver>
                <jdbc.ora_url>jdbc:oracle:thin:@mms2:1521:mms</jdbc.ora_url>
                <jdbc.username>mms</jdbc.username>
                <jdbc.password>mms</jdbc.password>
                <jdbc.fcm.ora_url>jdbc:oracle:thin:@10.8.0.41:1521:fcm</jdbc.fcm.ora_url>
                <jdbc.fcm.username>fcm</jdbc.fcm.username>
                <jdbc.fcm.password>fcm</jdbc.fcm.password>
                <indextask.content-samenews>127.0.0.1</indextask.content-samenews>
                <indextask.dih-news>127.0.0.1:3300</indextask.dih-news>
                <indextask.dih-fail>127.0.0.1:9800</indextask.dih-fail>
                <indextask.dih-filing>127.0.0.1:3400</indextask.dih-filing>
                <indextask.dih-report>127.0.0.1:3500</indextask.dih-report>
                <indextask.deploy-dir>/app/cfg/indextask-taging-8081/</indextask.deploy-dir>
                <searchapi.dah0-host>mms1</searchapi.dah0-host>
                <searchapi.dah0-port>15000</searchapi.dah0-port>
                <searchapi.dah1-host>mms2</searchapi.dah1-host>
                <searchapi.dah1-port>15000</searchapi.dah1-port>
                <infinispan.server_list>cache1:11411;cache2:11411</infinispan.server_list>
                <search.logs.dir>/app/cfg/web.search/logs</search.logs.dir>
                <search.spellcheck.pinyin>true</search.spellcheck.pinyin>
                <cpp.jdbc.url>jdbc:oracle:thin:@cpp.database:1521:cpp</cpp.jdbc.url>
                <cpp.jdbc.username>cpp</cpp.jdbc.username>
                <cpp.jdbc.password>cpp</cpp.jdbc.password>
                <cpp.idol.dih.host>cpp.dih</cpp.idol.dih.host>
                <cpp.idol.dih.port>3001</cpp.idol.dih.port>
                <cpp.searchapi.host>cpp.dah</cpp.searchapi.host>
                <cpp.searchapi.port>15000</cpp.searchapi.port>
                <evt.jdbc.url>jdbc:oracle:thin:@10.8.0.119:1521:cpp</evt.jdbc.url>
                <evt.jdbc.username>evt</evt.jdbc.username>
                <evt.jdbc.password>evt</evt.jdbc.password>
                <evt.idol.dih.host>evt.dih</evt.idol.dih.host>
                <evt.idol.dih.port>3101</evt.idol.dih.port>
                <kb.jdbc.driver>oracle.jdbc.driver.OracleDriver</kb.jdbc.driver>
                <kb.jdbc.url>jdbc:oracle:thin:@10.8.0.159:1521:kb</kb.jdbc.url>
                <kb.jdbc.username>kb</kb.jdbc.username>
                <kb.jdbc.password>kb</kb.jdbc.password>
                <mar.jdbc.url>jdbc:oracle:thin:@10.8.0.149:1521:dbpub</mar.jdbc.url>
                <mar.jdbc.username>fatslim2</mar.jdbc.username>
                <mar.jdbc.password>fatslim2</mar.jdbc.password>
                <cms.jdbc.url>jdbc:oracle:thin:@10.8.0.159:1521:kb</cms.jdbc.url>
                <cms.jdbc.username>im</cms.jdbc.username>
                <cms.jdbc.password>im</cms.jdbc.password>
                <cms.idol.dih.host>evt.dih</cms.idol.dih.host>
                <cms.idol.dih.port>9201</cms.idol.dih.port>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>dev</activeProfile>
        <activeProfile>basic</activeProfile>
    </activeProfiles>

</settings>
